.div {
    background-image: url("../../../Images/Jumbo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    filter: brightness(0.7);
}